src/main/app/health-check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="healthCheckFlow">
        <logger message="start healthCheckFlow" level="INFO" doc:name="Logger"/>
        <flow-ref name="getAuth" doc:name="getAuth"/>
        <set-payload value="{&quot;SALESREP_Input&quot;:{&quot;@xmlns&quot;:&quot;http://fin-dev-www-2.adminsys.mrll.com:8005/webservices/rest/xxsp_mapping_svc/salesreps&quot;,&quot;RESTHeader&quot;:{&quot;@xmlns&quot;:&quot;http://fin-dev-www-2.adminsys.mrll.com:8005/webservices/rest/xxsp_mapping_svc/header&quot;,&quot;RespApplication&quot;:&quot;PA&quot;,&quot;SecurityGroup&quot;:&quot;STANDARD&quot;,&quot;NLSLanguage&quot;:&quot;AMERICAN&quot;},&quot;InputParameters&quot;:{&quot;P_IN_SALESREP_REC&quot;:{&quot;OPERATING_UNIT_ID&quot;:150}}}}" doc:name="Set Payload"/>
        <http:request config-ref="oracleHttpRequestConfiguration" path="${hc.oracle.salesrepids.path}" method="POST" doc:name="GET_Oracle_SalesRep_Ids">
            <http:request-builder>
                <http:header headerName="Cookie" value="#[flowVars.oracleAuth.tokenName + '=' + flowVars.oracleAuth.accessToken]"/>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <logger message="Payload after auth call:  #[payload]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[message.exception != null]">
                <set-payload value="{&quot;Status&quot;: &quot;Failure&quot;}" doc:name="SET_Error_Payload"/>
                <set-property propertyName="http.status" value="500" doc:name="SET_Error_Status"/>
            </when>
            <otherwise>
                <set-payload value="{&quot;Status&quot;: &quot;OK&quot;}" doc:name="SET_Success_Payload"/>
                <set-property propertyName="http.status" value="200" doc:name="SET_Success_Status"/>
            </otherwise>
        </choice>
        <logger message="end healthCheckFlow" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
