src/main/app/invoice-mapping-table-lookup.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <flow name="invoiceMappingTableLookup" processingStrategy="synchronous">
        <logger message="start invoiceMappingTableLookup Flow" level="INFO" doc:name="Logger"/>

        <flow-ref name="getAuth" doc:name="getAuth"/>

        <dw:transform-message doc:name="Set Payload to get Invoice Mapping">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
  GET_INVOICE_MAPPING_Input: {
    RESTHeader: {
      RespApplication: "PA",
      SecurityGroup: "STANDARD",
      NLSLanguage: "AMERICAN"
    },
    InputParameters: {}
  }
}]]></dw:set-payload>
        </dw:transform-message>
        <ee:cache cachingStrategy-ref="lookupInvoiceCachingStrategy" doc:name="Cache">
            <logger message="system=Oracle method=GetInvoiceMapping action=request projectId=#[flowVars.projectId] payload=#[message.payloadAs(java.lang.String)]" level="INFO" category="com.merrillcorp.q2c" doc:name="Logger"/>
            <http:request config-ref="oracleHttpRequestConfiguration" path="${oracle.invoiceMapping.path}" method="POST" doc:name="Get Invoice Mapping Table">
                <http:request-builder>
                    <http:header headerName="Cookie" value="#[flowVars.oracleAuth.tokenName + '=' + flowVars.oracleAuth.accessToken]"/>
                </http:request-builder>
            </http:request>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
            </dw:transform-message>
        </ee:cache>
        <logger message="end invoiceMappingTableLookup Flow" level="INFO" doc:name="Logger"/>
    </flow>
</mule>    