src/main/app/project-oracle.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="projectCreateFlow">
        <logger message="start projectCreateFlow" level="INFO" doc:name="Logger"/>
        <enricher target="variable:oracleAuth" doc:name="Message Enricher">
            <flow-ref name="getAuth" doc:name="getAuth"/>
        </enricher>
        <set-session-variable variableName="payloadBeforeUntilSuccess" value="#[payload]" doc:name="setPayloadBeforeUntilSuccess"/>
        <until-successful maxRetries="${oracle.http.max.retries}" millisBetweenRetries="${oracle.http.milliSecondsBetweenRetries}" failureExpression="exception!=null &amp;&amp; (exception.causedBy(java.io.IOException) || exception.causedBy(java.net.ConnectException)  || exception.causedBy(java.net.SocketTimeoutException))" synchronous="true" doc:name="Until Successful">
            <http:request config-ref="oracleHttpRequestConfiguration" path="${oracle.project.path}" method="POST" doc:name="CreateProject">
                <http:request-builder>
                    <http:header headerName="Cookie" value="#[flowVars.oracleAuth.tokenName + '=' + flowVars.oracleAuth.accessToken]"/>
                </http:request-builder>
                <!-- This masked an error and the transforms failed later on. I'm commenting this out until we can get code around failures. Too many things to do -->
                <!-- <http:success-status-code-validator values="0..599"/> -->
            </http:request>
        </until-successful>
        <dw:transform-message doc:name="Parse Project Creation Result">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
  oracle_project_number : payload.OutputParameters.P_RESULTS.PROJECT_NUMBER,
  status : payload.OutputParameters.P_RESULTS.STATUS,
  message : payload.OutputParameters.P_RESULTS.MESSAGES.MESSAGES_ITEM
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="end projectCreateFlow" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="projectUpdateFlow">
        <logger message="start projectUpdateFlow" level="INFO" doc:name="Logger"/>
        <logger message="Not yet Implemented" level="INFO" doc:name="Logger"/>
        <logger message="end projectUpdateFlow" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
